
html, body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.container {

    display: grid;
    grid-template-rows: auto 7vh 5vh 38vh 16vh 15vh auto 10vh 9vh; 
    grid-template-columns: 0.5fr 1fr 5fr 0.5fr;

    grid-template-areas: "h  h  h  h"
                         "a2  c  c a"
                         "a2 f0 f0 a"
                         "a2 f1  p a"
                         "a2 f2  p a"
                         "a2 f3  p a"
                         "a2 s   p a"
                         'a2 s   l a'
                         "f  f   f f";
}

div.header {
    background-color: #ffffff;
    grid-area: h;
    display: flex;
    border-bottom: 5px solid;
    border-color: lightgrey;
}

div.aside2{
    grid-area: a2;
}

div.filtroMobile{
    grid-area: f0;
    justify-content: center;
    align-items: center;
    display: none;
}

div.categoria {
    grid-area: c;
    display: flex;
}

div.produtos {
    grid-area: p;
    padding-left: 50px;
}

div.filtro1 {
    grid-area: f1;
}

div.filtro2 {
    grid-area: f2;
}

div.filtro3 {
    grid-area: f3;
}

div.section{
    grid-area: s;
}

div.aside{
    grid-area: a;
}

div.load{
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footer {
    background-color: #000000;
    grid-area: f;
}

div.footer h4{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: inline-block;
    padding: 20px 68px;
    text-align: center;
    font-size: 13px;
}

.item input{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color:#000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    border: 0;
    cursor: pointer;
    outline-style: none;
    transition: background-color 1s;
}

div.load input{
    width: 180px;
    height: 40px;
    background-color: #2bbff2;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    border: 0;   
    outline-style: none;
    transition: background-color 1s;
}

div.load input:hover{
    background-color: #187fa1;
}

.item input:hover{
    background-color: #494848;
}

div.categoria select{
    margin-left: auto;
}

div.header img{
    width: auto;
    height: 30px;
    align-items: center;
}

.bolsa{
    background-color: #ffffff;
    margin-left: auto; 
    border: none;
    outline: none;
    margin-right: 200px;
}

.dropbtn {
    display: flex;
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.bolsa:hover .dropdown-content {
    display: block;
}

.carrinho{
    display: flex;
    min-width: 30px;
}

.fotoCarrinho{
    width: 13px;
    height: 13px;
}

.textoCarrinho{
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid;
}

.qtdProdutos{
    display: flex;
    width: 24px;
    height: 24px;
    background-color: #2bbff2;
    color: #ffffff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.totalCarrinho{
    text-align: center;
    border-top: 1px solid;
}

.excluir{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.cores input, .precoFiltro input {
    display: none;
}

.cores input + label::before, .precoFiltro input + label::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.cores input:checked + label::before, .precoFiltro input:checked + label::before{
    background-color:#2bbff2;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: 7px;
}

.carregarCores{
    cursor: pointer;
    color: grey;
    text-decoration:underline;
}

#ordenar{
    max-height: 30px;
    margin-top: 25px;
}

.tamanho{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    margin-left: 200px;
    margin-top: 18px;
    
}

@media screen and (max-width: 500px){

    div.aside2{
        display: none;
    }

    div.categoria {
        display: none;
    }

    div.filtro1 {
        display: none;
    }
    
    div.filtro2 {
        display: none;
    }
    
    div.filtro3 {
        display: none;
    }

    div.section{
        display: none;
    }
    
    div.aside{
        display: none;
    }

    .item input{
        text-align: center;
        width: 50%;
        height: 40px;
        background-color:#000000;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bolder;
        border: 0;
        cursor: pointer;
        outline-style: none;
        transition: background-color 1s;
    }

    div.filtroMobile{
        margin-top: -60px;
        background-color: #ffffff;
        display: flex;
    }

    .filtrar{
        width: 80px;
        height: 50px;
        background-color: white;
        border: 1px solid black;
        font-size: 16px;
        cursor: pointer;  
        justify-content: center;
        align-self: center;
    }

    .bolsa{
        margin-left: 100px;
    }

    .logo{
        display: flex;
        margin-left: 5px;
        margin-top: 20px;
        
    }
}